<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="static/css/leaflet.css" />
    <link href="static/css/style.css" rel="stylesheet">
    <script type="text/javascript" src="static/jquery-1.6.1.min.js"></script>
    <script type="text/javascript" src="static/socket.io.js"></script>

    <script src="static/leaflet.js"></script>
    <script src="static/app.js"></script>
</head>

<body>
  <div id="track">
      <div id="records"></div>
  </div>
  <form id="our_location">
      <input type="text" id="our_latitude"/>
      <input type="text" id="our_longitude"/>
      <button type="submit" id="submit">Update</button>
  </form>
  <div id="map"></div>
</body>
</html>
